img {
    width: 4rem;
    border-radius: 50%;
}

h1 {
    text-align: center;
}

li {
    padding-right: 2rem;
    display: inline;
}

.active {
    color: aqua;
}

.nav-bar {
    text-align: center;
}

.header {
    display: inline;
}